<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {role: 'form'}) do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="card card-block round-box devise">
          <h4 class="card-header devise">
            <%= t('menu.register') %>
          </h4>
          <div class="card-body devise">
            <%= devise_error_messages! %>
            <%= f.hidden_field :role, value: 'guest' %>
            <div class="row form-group">
              <label class="col-sm-4 form-control-label text-sm-right devise">
                <%= t('label.username') %>
              </label>
              <div class="col-sm-8">
                <%= f.text_field :username, class: 'form-control form-control-sm', id: 'inputUsername1', placeholder: t('label.username').downcase %>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-4 form-control-label text-sm-right devise" for="inputEmail1">
                <%= t('label.email') %>
              </label>
              <div class="col-sm-8">
                <%= f.email_field :email, class: 'form-control form-control-sm', id: 'inputEmail1',
                  placeholder: t('label.email_example').downcase,
                  type: 'email' %>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-4 form-control-label text-sm-right devise" for="inputPassword1">
                <%= t('label.new_password') %>
              </label>
              <div class="col-sm-8">
                <%= f.password_field :password, class: 'form-control form-control-sm', id: 'inputPassword1',
                  placeholder: t('label.new_password').downcase %>
              </div>
            </div>
            <div class="row form-group">
              <label class="col-sm-4 form-control-label text-sm-right devise" for="inputConfirmPassword1">
                <%= t('label.confirm_new_password') %>
              </label>
              <div class="col-sm-8">
                <%= f.password_field :password_confirmation, class: 'form-control form-control-sm', id: 'inputConfirmPassword1',
                  placeholder: t('label.confirm_new_password').downcase %>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-offset-4 col-sm-8">
                <%= f.submit t('button.register'), class: 'btn btn-success' %>
              </div>
            </div>
          </div>
          <div class="card-footer text-sm-right devise">
            <%= render 'devise/shared/links' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
