<div class="stage" id="stage">
  <div class="title">
    <h1> 会员专享</h1>
  </div>
  <!-- 会员卡首页 start -->
  <section class="index" id="sec-index">
    <div class="card-img">
      <!-- no-card 没有领卡显示领卡按钮 -->
      <div class="img-bg">
        <%=image_tag 'mobile/wcard/card.png' %>
        <div class="card-logo">
          <img src="<%= @wx_follower.headimgurl %>" alt="">
        </div>
        <div class="card-vip">  <%= image_tag 'mobile/wcard/logo.png', class: 'clogo' %></div>
        <div class="card-name">
          <p >   <b>会</b> <b>员</b> <b>卡</b> </p>
        </div>
        <div class="card-number">
          <% if @prepaid_card.persisted? %>
          <p><% @prepaid_card.name %></p>
          <p> NO. <%= @prepaid_card.code %></p>
          <% else %>
          <p> 暂无会员卡 </p>
          <% end %>
        </div>
      </div>
      <div class="card-btn"></div>
    </div>
    <!-- tab box start -->
    <div class="item-box totals">
      <div class="item">
        <a href="#">
          <b><%=@prepaid_card.amount_remaining.to_i %></b>
          <span>会员卡余额</span>
        </a>
      </div>
      <% if false %>
        <div class="item cur">
          <a href="#">
            <b>
              <i class="img img-1"></i>
            </b>
            <span>会员卡充值</span>
          </a>
        </div>
      <% end %>
      <div class="item">
        <a href="#">
          <b><%= @order_total.to_i %></b>
          <span>消费金额</span>
        </a>
      </div>
    </div>
    <!-- tab box end -->
    <!-- list box start -->
    <div class="main">
      <div class="list-box recent-order-states">
        <div class="list-box-title"> <i class="icon icon-9"></i> <span style="color:#666;">最近订单 </span></div>
        <div class="item-box">
          <div class="item">
            <a href="<%= recent_mp_orders_path(group_state: :pending)%>" class="recent-order-state order-state-new">
              <div class="img-wrap" style="width: 2.5em; display: block; margin: 5px auto 0;position:relative;">
                <%=image_tag 'mp/pending.png' %>
                <div class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;"><%=@pending_line_item_group_count %></div>
              </div>
              新订单
            </a>
          </div>
          <div class="item">
            <a href="<%= recent_mp_orders_path(group_state: :working)%>" class="recent-order-state order-state-new">
              <div class="img-wrap" style="width: 2.5em; display: block; margin: 5px auto 0;position:relative;">
                <%=image_tag 'mp/working.png' %>
                <div class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;"><%=@processing_line_item_group_count %></div>
              </div>
              工作中
            </a>
          </div>
          <div class="item">
            <a href="<%= recent_mp_orders_path(group_state: :ready)%>" class="recent-order-state order-state-new">
              <div class="img-wrap" style="width: 2.5em; display: block; margin: 5px auto 0;position:relative;">
                <%=image_tag 'mp/ready.png' %>
                <div class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;"><%=@ready_line_item_group_count %></div>
              </div>
              待领取
            </a>
          </div>
        </div>
      </div>

      <div class="list-box my">
        <dl>
          <dt class="border">
            <a class="icon-right" href="<%= normal_mp_orders_path%>">
              <i class="icon icon-2"></i>
              <span>我的订单</span>
              <div class="num"><%= @order_count %></div>
            </a>
          </dt>
        </dl>
        <dl>
          <dt class="border">
            <a class="icon-right" href="<%= card_mp_orders_path%>">
              <i class="icon icon-3"></i>
              <span>我的充值</span>
              <div class="num">￥<%= @card_total.to_i %></div>
            </a>
          </dt>
        </dl>
      </div>

    </div>
    <!-- list box end -->
  </section>
  <!-- 会员卡首页 end -->

</div>
