<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Player limit:</strong>
  <%= @store.player_limit %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @store.address %>
</p>

<p>
  <strong>Firm:</strong>
  <%= @store.firm_id %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
