<%  # locals: { order }
%>
<script type="text/javascript">
function handleGroupImageClick( groupId){
  var handler = groupImagesHandlers['handler'+groupId];
  console.log( "hello world!", handler );
  if( handler ){
    handler.open();
  }
}
</script>
<div class="order item-box">
  <div class="weui-form-preview__bd">
    <div class="weui-form-preview__item">
      <div class="weui-form-preview__label"> <%= order.store.name %> </div>
      <div class="weui-form-preview__value order-state-canceled">
        <% if order.canceled? %>
          <%=I18n.t  order.state, scope: "activerecord.attributes.spree/order.states" %>
        <% end %>
      </div>
    </div>
    <div class="weui-form-preview__item">
      <div class="weui-form-preview__label"> 订单编号 <%= order.number %> </div>  <div class="weui-form-preview__value"> 订单日期 <%= order.created_at.to_date %></div>
    </div>
    <div class="weui-form-preview__item">
      <div class="weui-form-preview__label"> 订单金额 <%= order.total.to_i %></div>
        <div class="weui-form-preview__value">
          <% if order.payments.completed.present? %>
            <% order.payments.completed.each { |payment|  %>
              <p> <%= payment.cname %> <%= payment.amount.to_i %> </p>
            <% }%>
          <% else %>
            未付
          <% end %>
        </div>
    </div>
  </div>
  <% order.line_item_groups.each { |group|  %>

  <div   class="weui-media-box weui-media-box_appmsg">
      <div class="weui-media-box__hd">
          <%=image_tag group_first_image_url(group), size: "50", click: "handleGroupImageClick(#{group.id})" %>
      </div>
      <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title"></h4>
          <div class="weui-media-box__desc">
            <% group.line_items.each_with_index.each { |item, i|  %>
              <div> <%= i+1 %> <%= item.cname %></div>
            <% } %>
          </div>
          <ul class="weui-media-box__info">
              <li class="weui-media-box__info__meta">物品编号：<%= group.number %></li>
              <li class="weui-media-box__info__meta group-state ">状态：<%=  group.display_state %></li>
          </ul>
      </div>
  </div>

  <script>
  groupImagesHandlers[<%=group.id %>] = <%== group_image_urls(group).to_json %>;
  if( groupImagesHandlers[<%=group.id %>].length>0){
    groupImagesHandlers["handler<%=group.id %>"] = $.photoBrowser({
      items:groupImagesHandlers[<%=group.id %>]
    });
  }
  </script>
  <% } %>

</div>
