 <div data-hook="admin_order_form_fields">
  <% if @line_item.try(:errors).present? %>
    <%= render 'spree/admin/shared/error_messages', target: @line_item %>
  <% end %>


  <%= render "spree/admin/orders/line_items", order: order %>




  <% if order.line_items.exists? %>
    <div class="alert alert-success" id="order-total" data-hook="order_details_total">
      <%= Spree.t(:order_total) %>:
      <strong class="order-total">
        <%= order.display_total %>
      </strong>
    </div>
  <% end %>

  <%= javascript_tag do %>
    var order_number = '<%= @order.number %>';
    var shipments = [];

  

    <%= render partial: 'spree/admin/shared/update_order_state', formats: [:js], handlers: [:erb] %>
  <% end %>
</div>
