<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @user_entry.state %>
</p>

<p>
  <strong>:</strong>
  <%= @user_entry. %>
</p>

<%= link_to 'Edit', edit_user_entry_path(@user_entry) %> |
<%= link_to 'Back', user_entries_path %>
