<% content_for :page_title do %>
  <%= plural_resource_name(Spree::ExpenseItem) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_expense_item), new_object_url, icon: 'add', class: 'btn-success' %>
<% end if can?(:create, Spree::ExpenseItem) %>

<% if @expense_items.any? %>
  <table class="table">
    <thead>
      <th><%= Spree::ExpenseItem.human_attribute_name :name %></th>
      <th><%= Spree::ExpenseItem.human_attribute_name :description %></th>
      <th></th>
    </thead>
    <tbody>
      <% @expense_items.each do |expense_item| %>
        <tr>
          <td><%= expense_item.name %></td>
          <td><%= expense_item.description %></td>
          <td class="actions actions-2 text-right">
            <%= link_to_edit expense_item, no_text: true if can?(:edit, expense_item) %>
            <%= link_to_delete expense_item, no_text: true if can?(:delete, expense_item) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::ExpenseItem)) %>,
    <%= link_to Spree.t(:add_one), new_object_url %>!
  </div>
<% end %>
