<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <meta name="x5-orientation" content="portrait">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>WeChat</title>
    <%= stylesheet_link_tag 'mp/all', media: 'all', data: {turbolinks_track: true} %>
    <%= javascript_include_tag 'mp/all', data: {turbolinks_track: true} %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/mp/head' %>
  </head>
  <body>
    <div class="html theme-1">
      <div id="flash_messages">
        <%= flash_messages %>
      </div>
      <%= yield %>
    </div>
  </body>

</html>
