<p id="notice"><%= notice %></p>

<p>
  <strong>Game player:</strong>
  <%= @vote.game_player_id %>
</p>

<p>
  <strong>Openid:</strong>
  <%= @vote.openid %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
