<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title><%= content_for?(:title) ? yield(:title) : "GentelellaOnRails" %> </title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5', 'data-turbolinks-track' => true %>
    <![endif]-->
  </head>

  <body>
    <%= render "shared/topnav" %>


    <div class="container-fluid">
      <div class="row">
        <%= render "shared/sidenav" %>


        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
          <%= yield %>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
