<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<meta name="x5-orientation" content="portrait">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<title> <%= @game_round.name %></title>
<%= stylesheet_link_tag 'game/yhzy_smp/all', media: 'all', data: {turbolinks_track: true} %>
<%= render "shared/yhzy_smp_js" %>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

</head>
<body>
  <div id="GameScoreLayer" class="BBOX SHADE bgc1" style="display:none;">
		<div style="padding:0 5%;">
			<div id="GameScoreLayer-text"></div>
			<div> </div>
      <br />
      <div>
      <span id="GameScoreLayer-score" style="margin-bottom:1em;">撕下</span>
			<span id="GameScoreLayer-bast">最多撕下</span>
			</div>
      <br />
			<div id="GameScoreLayer-btn" class="BOX">
				<div class="btn BOX-S" onClick="replayBtn()">重来</div>&nbsp;
				<div class="btn BOX-S" onClick="share()">分享到朋友圈</div>&nbsp;
			</div>
			<br/>
			<br/>
      <div style="clear:both;" id="ad" ></div>
		</div>
	</div>
  <div id="GameScoreLayer-share" class="BBOX SHADE" style="font-size: 30px;font-weight: bold;display:none;z-index:100;position:absolute;background:#ccc;">
    <div style="padding:40% 5%;text-align:center;"><br>
    </div>
	</div>

  <div id="welcome" class="SHADE BOX-M">
    <div class="welcome-bg FILL"></div>
    <div class="FILL BOX-M" style="position:absolute;top:0;left:0;right:0;bottom:0;z-index:5;">
      <div style="margin:0 8% 0 9%;">
        <div style="font-size:3.6em; color:#FEF002;">一起撕名牌</div><br/>
        <div style="font-size:2.0em; color:#fff; line-height:1.5em;">被吓到了吧！<br/>15秒内看你能撕下多少名牌！</div><br/><br/>
        <div id="ready-btn" class="btn loading" style="display:inline-block; margin:0 auto; width:8em; height:1.7em; line-height:1.7em; font-size:2.2em; color:#fff;"></div>
      </div>
    </div>
  </div>

  <div id="landscape" class="SHADE BOX-M" style="background:rgba(0,0,0,.9);">
    <div class="welcome-bg FILL"></div>
    <div id="landscape-text" style="color:#fff;font-size:3em;">请竖屏玩耍</div>
  </div>



  <div id="share-wx">
    <p style="text-align: right; padding-left: 10px;">
    <%= image_tag "game/yhzy_smp/2000.png", id:"share-wx-img", style:"width:100%;" %>
    </p>
  </div>

  <%= javascript_include_tag 'game/yhzy_smp/all.js' %>
  <%= wechat_config_js debug: true, api: %w(hideMenuItems closeWindow) -%>

</body>
</html>
